/.cider/
.DS_Store

.LCKmain.lua~

*.DS_Store

img/._alertBox.png

._.gitignore

img/._alertBox@2x.png

img/._ball.png

img/._ball@2x.png

img/._bg.png

img/._bg@2x.png

img/._brick.png

img/._brick@2x.png

img/._mmScreen.png

img/._mmScreen@2x.png

img/._paddle.png

img/._paddle@2x.png

img/._playbtn.png

img/._playbtn@2x.png
